extends layout.pug

block header
    a.btn.btn-Light(href='/', style='margin-left:10px; margin-top:10px') Retourner a l'observatoir

block content
    h2 *INFO* Reglement de compte a Marseille un certain Mohammed mort en plus d'une autre victime inconnue *INFO*
    